<div class="modal fade" id="create-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="buttons d-flex justify-content-center">
                    <button type="button"
                            class="btn m-3 btn-light w-25 me-1 mb-3 border-1 border-secondary-subtle "
                            data-bs-toggle="modal" data-bs-target="#create-tag-modal">Тег
                    </button>
                    <button type="button"
                            class="btn m-3 btn-light w-25 me-1 mb-3 border-1 border-secondary-subtle "
                            data-bs-toggle="modal" data-bs-target="#create-post-modal">Пост
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>