<div class="modal fade" id="create-tag-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать тег</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-tag-form">
                        <div class="d-flex pb-3">
                            <label for="create-tag-input" class="form-label"></label>
                            <input id="create-tag-input" class="form-control" type="text"
                                   placeholder="Введите название тега"
                                   name="search">
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="d-inline-block">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                            <div class="d-inline-block ps-3">
                                <button type="submit" id="create-tag-button" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>