{% extends 'tag_web/base.html' %}

{% block content %}
    <div class="index">

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="themeSwitcher">
            <label class="form-check-label" for="themeSwitcher"><img
                    src="../../static/tag_web/img/dark_mode.png" alt="dark-mode"></label>
        </div>
        <form id="input-main">
            <label for="search-main" class="form-label"></label>
            <input id="search-main" class="form-control" type="text" placeholder="Поиск по постам"
                   name="search">
        </form>
        <form class="tags px-0 pt-3" id="input-tags">
            {% for tag in tags %}
                <input type="checkbox" class="btn-check " name="tags" id="{{ tag.name }}" value="{{ tag.name }}" autocomplete="off">
                <label class="btn btn-light me-1 mb-3 border-1 border-secondary-subtle"
                       for="{{ tag.name }}">{{ tag.name }} <span class="badge text-bg-secondary">{{ tag.count }}</span></label>
            {% endfor %}
        </form>
        <div class="posts container px-0" >
            <div class="row" id="post-row">
                {% include 'tag_web/content.html' %}
            </div>
        </div>



    </div>
{% endblock %}